* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: whitesmoke;
  font-family: "Poppins", sans-serif;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0.74);
  z-index: 2;
}

.sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 1rem;
  background-color: rgb(255, 145, 0);
}

.title {
  font-size: 1.5rem;
  color: whitesmoke;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  padding-left: 3rem;
}

.top {
  cursor: pointer;
  color: whitesmoke;
  text-decoration: none;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  width: 55%;
  list-style: none;
  font-size: 1rem;
  color: whitesmoke;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
}

.nav-link {
  cursor: pointer;
  color: whitesmoke;
  text-decoration: none;
}

h2 {
  font-size: 1.5rem;
  letter-spacing: 0.1rem;
}

p {
  font-size: 1rem;
  line-height: 1.5rem;
  letter-spacing: 0.1rem;
  word-spacing: 0.3rem;
  line-height: 2rem;
  word-break: break-all;
}

.intro {
  display: flex;
  margin: 7rem;
  margin-bottom: 1rem;
  padding-left: 10rem;
  padding-right: 10rem;
  padding-top: 4rem;
  padding-bottom: 8rem;
  border-top: solid black 0.1rem;
  border-bottom: solid black 0.1rem;
}

.intro-title {
  text-transform: uppercase;
  position: relative;
  left: 1rem;
}

.intro-paragraph {
  position: relative;
  text-align: justify;
  top: 3rem;
  right: 3.5rem;
  width: 40rem;
}

.intro-image {
  position: relative;
  top: 2rem;
  left: 2rem;
  border-radius: 0.3rem;
}

.lucy {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 7rem;
  margin-bottom: 1rem;
  padding-left: 10rem;
  padding-right: 10rem;
  padding-top: 5rem;
  border-top: solid black 0.1rem;
  border-bottom: solid black 0.1rem;
}

.lucy-title {
  text-transform: uppercase;
  position: relative;
  padding-bottom: 3rem;
  top: 2rem;
}

.lucy-paragraph {
  position: relative;
  text-align: justify;
  width: 60rem;
}

.lucy-image1 {
  position: relative;
  right: 16rem;
  top: 8rem;
  border-radius: 0.3rem;
}

.lucy-image2 {
  position: relative;
  left: 16rem;
  bottom: 17rem;
  border-radius: 0.3rem;
}

.steven {
  display: flex;
  margin: 7rem;
  margin-bottom: 1rem;
  padding-left: 10rem;
  padding-right: 10rem;
  padding-top: 5rem;
  padding-bottom: 8rem;
  border-top: solid black 0.1rem;
  border-bottom: solid black 0.1rem;
}

.steven-title {
  text-transform: uppercase;
  position: relative;
  left: 0.4rem;
  top: 2rem;
}

.steven-paragraph {
  position: relative;
  text-align: justify;
  top: 5rem;
  right: 5rem;
  width: 30rem;
}

.steven-image1 {
  position: relative;
  left: 1rem;
  top: 4rem;
  border-radius: 0.3rem;
}

.brian {
  display: flex;
  margin: 7rem;
  padding-left: 10rem;
  padding-right: 10rem;
  padding-top: 5rem;
  padding-bottom: 20rem;
  border-top: solid black 0.1rem;
  border-bottom: solid black 0.1rem;
}

.brian-title {
  text-transform: uppercase;
  position: relative;
  left: 22rem;
  top: 2rem;
}

.brian-paragraph {
  position: relative;
  top: 5rem;
  right: 4rem;
  min-width: 50rem;
}

.btn1,
.btn2,
.btn3,
.btn4,
.btn5 {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  border-radius: 0.8rem;
  border: none;
  background-color: rgb(71, 64, 56);
  color: whitesmoke;
  cursor: pointer;
  top: 10rem;
  right: 43.4rem;
  min-width: 5rem;
  height: 1.5rem;
  margin: 0.3rem;
}

.change-color {
  background-color: rgb(255, 145, 0);
}

.img1,
.img2,
.img3,
.img4,
.img5 {
  position: relative;
  top: 12.5rem;
  border-radius: 0.3rem;
}

.img1 {
  transform: translateX(-73rem);
}

.hidden {
  display: none;
}

.active {
  transform: translateX(-73rem);
}

footer {
  background-color: rgba(0, 0, 0, 0.74);
  height: 5rem;
}

@media screen and (max-width: 1200px) {
  body {
    overflow-x: hidden;
  }
  .intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .intro-paragraph {
    max-width: 30rem;
    padding-left: 7rem;
    padding-bottom: 5rem;
  }
  .intro-image {
    position: relative;
    left: 0.5rem;
  }

  .lucy {
    padding-bottom: 5rem;
  }

  .lucy-paragraph {
    padding-top: 2rem;
    max-width: 30rem;
  }

  .lucy-image1 {
    right: 7rem;
    top: 11rem;
    width: 300px;
    height: 200px;
  }
  .lucy-image2 {
    left: 7rem;
    bottom: 11rem;
    width: 300px;
    height: 200px;
    z-index: 1;
  }

  .steven {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .steven-paragraph {
    padding-left: 10rem;
    padding-bottom: 5rem;
  }

  .brian-title {
    position: initial;
    padding-top: 1rem;
  }

  .brian-paragraph {
    right: 17rem;
    padding-right: 17rem;
  }

  .btn1,
  .btn2,
  .btn3,
  .btn4,
  .btn5 {
    top: 12.5rem;
    right: 64.8rem;
  }

  .img1,
  .img2,
  .img3,
  .img4,
  .img5 {
    position: relative;
    top: 15rem;
    border-radius: 0.3rem;
  }

  .img1 {
    transform: translateX(-94.5rem);
  }
  .active {
    transform: translateX(-94.5rem);
  }
}

@media screen and (max-width: 520px) {
  body {
    overflow-x: auto;
  }
  .title {
    font-size: 1rem;
  }
  footer {
    min-width: 900px;
  }
}
